
body {
    padding: 0px;
    margin: 0px;
    font-weight: 300;
    background-image: url("img/trippy.gif");
}

p, h1, h2, h3, h4, h5, h6 {
 font-family: "Comic Sans MS", Times, serif !important;   
}

header {
    width: 100%;
    height: 48px;
    color: gray;
    background-color: pink;
    font-size: 12px;
}

section {
    padding: 16px;   
}

section h1 {
    color: green;   
}

table i {
    color: orange;
    font-size: 4em;   
}

i {
    padding-left: 12px;
    padding-right: 8px;
}

#title_header {
    position: relative;
    top: 0px;
    left: 0px;
    height: 96px;
    padding: 16px;
    text-align: left;
}

#title_header H1 {
    display: block;
}

#contact {
    color: purple;
    font-size: 16px;
    text-align: left;
    display: block;
    float: left;
    padding: 16px;
}

#social {
    text-align: right;
    display: block;
    float: right;
    padding: 16px;
}

.sidebar {
    color: white;
    text-align: left;
    position:absolute;
    top: 350px;
    bottom: 0px;
    left:0px;
    height: 100%;
    width: 256px;
    padding: 24px;
    background-image: url("img/giphy.gif");
}

.main-content {
    position: absolute;
    top: 236px;
    left: 260px;px;  
    text-align: center;
}

.columns td {
    background-color: yellow;
    vertical-align: bottom;
    padding: 8px;
    border: 2px dashed purple;
    width: 33%;   
}

.columns td p {
    text-align: center;
}

#banner {
    width: 100%;
}

.prof-pic {
    border: 4px double red;
    height: 256px;
    position: absolute;
}

table {
    width: 100%;   
}

td {
    width: 50%;
    paddding: 32px;
    text-align: center;
}

td section {
    padding: 0px, 32px, 0px, 32px;
}

td p {
    text-align: left;
}

.name-header {
    margin: 0px;
    height: 100%;
    color: antiquewhite;
    background-color: #333;
    padding: 32px 0px 32px 32px;   
}

.name-header h1 {
    font-weight: 100;
    color: white;
    margin: 0px;
    margin-left: 320px;
    padding: 0px;
}

.name-header h4 {
    margin-left: 320px;
    color: firebrick;;
}

.footer {
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}